
:root{
  --neon-color: #02a9eb;
}
*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/src/sigmund-t-da_md1qMc-unsplash.jpg) center/cover;
}


.drum-machine{
  background-color: #1a191f;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 20px;
  border: 4px solid black;
  width: 80vw;
  max-width: 800px;
}
.drum-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  place-items: center;
  border: 3px solid white;
  padding: 15px;
  border-radius: 20px;
}
.drum-pad{
  width: 100%;
  height: 14vh;
  border: 4px solid var(--neon-color);
  box-shadow: 0px 0px 10px var(--neon-color);
  background-color: #312f37;
  position: relative;
  font-size: 2rem;
}

.drum-pad:hover{
  border: 4px solid var(--neon-color)!important;
  box-shadow: 0px 0px 10px var(--neon-color) !important;
  background-color: #312f37 !important;
  position: relative !important;
  font-size: 2rem !important;
}

.pad-inner-text{
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #00d0ff;
  pointer-events: none;
}
.drum-pad:active, .drum-pad.active{
  border: 4px solid white !important;
  box-shadow: 0px 0px 10px white !important;

}
.drum-pad:active .pad-inner-text, .drum-pad.active .pad-inner-text{
  color: white;
}
.pad-footer{
  margin-top: 10px;
  height: 125px;
  width: 100%;
}
.footer-row{
  height: 100%;
  max-width: 100%;
  margin: 0;
}
.logo-fcc{
  max-width: 180px;
  height: 30px;
}
.display-col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display{
  width: 70%;
  height: 75%;
  padding: 8px;
  max-width: 240px;
  background-color: #02a9eb;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 2px var(--neon-color);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
  text-shadow: rgb(255, 255, 255) 0px 0 7px;
}
.vol-controls{
  width: 100%;
  height: 80%;
  max-width: 170px;
  padding: 5px;
  border: 1px solid var(--neon-color);
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  position: relative;
}
.arrow-pad {
  cursor: pointer;
  padding: 0;
  background-color: unset;
  border: none;
  color: white;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-pad:active{
  transform: scale(0.9);
}
.arrow-pad:focus{
  outline: none;
}
.arrow{
  pointer-events: none;
}

.vol-title{
  color: white;
  font-size: 14px;
  position: absolute;
  text-transform: uppercase;
  left: 10%;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.atribution{
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-weight: 500;
}
@media screen and (max-width: 575px) {
  .pad-footer{
    height: auto;
  }
  .drum-machine{
    padding: 10px;
  }
  .drum-body{
    gap: 5px;
    padding: 8px;
    border: 2px solid white;
  }
  .drum-pad{
    height: 80px;
    border: 2px solid var(--neon-color);
    box-shadow: 0px 0px 5px var(--neon-color);
  }
  .drum-pad.active{
    height: 80px;
  }
  
}